/nbproject/private/
/ReadyFoods-ejb/nbproject/private/
/ReadyFoods-war/nbproject/private/
/ReadyFoods-ejb/build/
/dist/
/build/
/ReadyFoods-war/dist/
/ReadyFoods-war/build/
/ReadyFoods-ejb/dist/
/ReadyFoods-war/web/WEB-INF/web.xml
/ReadyFoodsRws/nbproject/private/
/ReadyFoodsRws/build/
/ReadyFoodsRws/dist/
