body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial;
    font-size:  25px;
    font-weight: 200;
    margin: 0px;
    padding: 10px;
    color: #94774b;
}

.h1title {
    font-family: Arial;
    font-size:  25px;
    font-weight: 200;
    text-align: justify;
    margin: 0px;
    padding: 20px;
    color: #94774b;
}

.titleicon{
    width: 5%;
    float: left;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.logo {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: right;
}

.home {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: #94774b;
}

.registerBg {
    background: url("#{resource['images/register.png']}");
    background-size: cover;

}


.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    font-size:  70px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
