body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

h1 {
    font-family: Arial;
    font-size:  25px;
    font-weight: 200;
    margin: 0px;
    padding: 10px;
    color: #94774b;
}

.h1title {
    font-family: Arial;
    font-size:  25px;
    font-weight: 200;
    text-align: justify;
    margin: 0px;
    padding: 20px;
    color: #94774b;
}

.text-subscription-order {
    padding: 20px;
    color: #94774b;
}


.titleicon{
    width: 5%;
    float: left;
}

.ui-datatable table {
   table-layout: auto !important;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

.logo {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    text-align: right;
}

.header-content {
    font-size: 15 !important; 
    margin-right: 20px !important;
}

.header-welcome {
    font-size: 15 !important; 
    margin-right: 5px !important;
}
.home {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register{
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    background-color: #94774b;
}

.registerBg {
    background: url("#{resource['images/register.png']}");
    background-size: cover;
    height: 100%;

}


.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    font-size:  70px;
    font-family: Playfair Display Black;
    font-weight: 200;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    margin: 30px;
}
/*comment this out if you want table borders back
.ui-datatable * {
     border : 0px !important;
}*/

a:link, a:visited, a:link:hover, a:visited:hover {
    color: #4D2913;
}

a:link:hover, a:visited:hover {
    color: #FFFFFF;
}

.ccthing {
    background-color: #d9d6c4
}

.login-content {
    display: flex; 
    flex-direction: column;
    font-size: 15;
    font-weight: 700;
    margin: 20px;
}

.login-button-style {
    width: 220px; 
    margin-left: auto; 
    margin-right: auto;
}

.home-bg {
    background: url("#{resource['images/home.png']}");
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 900px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}

.home-header {
    font-family: PlayfairDisplay, "Playfair Display Black";
    font-size: 170;
    text-align: center;
    font-weight: 700;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.home-text {
    font-family: PlayfairDisplay, "Playfair Display Black" !important;
    font-size: 30 !important;
    text-align: center !important;
    font-weight: 700 !important;
    color: white !important;
    margin: 10 !important;
}

.home-button {
    font-family: PlayfairDisplay, "Playfair Display Black" !important;
    font-size: 20 !important;
    text-align: center !important;
    font-weight: 700 !important;
    margin-top: 20 !important;
    margin-bottom: 30 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.home-2-bg {
    background: url("#{resource['images/homeLoggedIn.gif']}");
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 900px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}

.home-2-header {
    font-family: PlayfairDisplay, "Playfair Display Black";
    font-size: 80;
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.access-right-bg {
    background: url("#{resource['images/errorAccess.png']}");
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 900px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}

.confirm-bg {
    background: url("#{resource['images/confirm.png']}");
    background-size: cover;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 900px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
}